# Dependencies
node_modules/
__pycache__/
*.pyc

# Environment variables
.env

# Sensitive Credentials
credentials.json
token.json
client_secret*.json

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
